# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environments
.env
.venv
.pypoetry*
poetry.lock

# Distribution/Packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# IDE specific settings
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Logs and debug files
*.log
*.tmp
*.bak

# Environment variable files
.env.*
.envrc

# Tests and coverage reports
.coverage
htmlcov/
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.coveragerc
.tox/
pytest_cache/
pytestdebug.log

# MyPy cache
.mypy_cache/

# Python wheels
*.whl

# Editable installs
*.egg
.installed.cfg

# Pipenv
Pipfile
Pipfile.lock

# Poetry-specific files
poetry.toml
